* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .contaiter {
    max-width: 960px;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}
.section-tittle {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.section__tittle {
  padding: 100px 0;
}

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  padding: 19px 22px 17px;
  color: #507fe1;
  background-color: #fff;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  text-decoration: none;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.button:hover {
  cursor: pointer;
}
.button-fitting {
  color: #507fe1;
  background-color: #fff;
}
.button-add {
  color: #fff;
  background-color: #507fe1;
}
.button-like {
  background-color: #507fe1;
  height: 30px;
}

.bg-secondary {
  background: #f5f6f6;
}

.input {
  height: 80px;
  padding: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.checkbox-label:hover {
  cursor: pointer;
}
.checkbox-label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}
.checkbox:checked + label:before {
  background-color: #507fe1;
}

@media (max-width: 576px) {
  .button {
    font-size: 10px;
  }
  .button-o {
    font-size: 10px;
  }

  .section {
    padding: 60px 0;
  }
  .section-tittle {
    font-size: 20px;
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  margin-bottom: 4px;
  font-size: 19px;
  text-decoration: none;
  color: #262626;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.navbar__work-time, .navbar__email {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #7b7b79;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  transition: 0.2s;
  transform: translateY(-200%);
}
.menu__active {
  transform: translateY(0);
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  font-style: 17px;
  text-transform: uppercase;
  color: #fff;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}
.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.logo__discription {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }

  .menu {
    top: 60px;
    transform: translateY(-200%);
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}
.hero {
  background: #f1f1f1 url("http://placehold.it/1920x690") no-repeat center top;
  background-size: contain;
  padding-top: 120px;
  padding-bottom: 270px;
  margin-top: 80px;
}
.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}
.hero__suptitle {
  display: block;
  font-size: 30px;
  margin-bottom: 67px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top right 50%;
  }
}
.offer {
  padding: 129px 0;
}
.offer-block {
  background: #fff url("http://placehold.it/410x550") no-repeat center right;
  background-size: contain;
  padding: 80px;
  margin-top: -200px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.offer__tittle {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.offer__subtittle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__lable {
  display: block;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 16px;
}
.form__group {
  flex-basis: 33.33%;
}
.form__input {
  width: 100%;
  border-right-width: 0;
}
.form__input:last-child {
  border-right-width: 0;
}
.form__button {
  width: 100%;
  height: 80px;
}

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px;
  }
  .offer__tittle {
    font-size: 18px;
  }
  .offer__subtittle {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }

  .form__row {
    flex-direction: column;
  }
  .form__row-checkbox {
    flex-direction: row;
  }
  .form__group {
    flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
}
.form__row-checkbox {
  flex-direction: column;
  align-items: flex-start;
}
.form__checkbox {
  margin-bottom: 20px;
}

.features-block {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features-block__item {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .features-block__item {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}
.catalog {
  background-color: #f5f6f6;
}
.catalog-block {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog__card {
  margin-bottom: 30px;
}
.catalog-card {
  max-width: 570px;
  position: relative;
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}
.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
.catalog-card__button {
  padding: 10px;
  text-transform: uppercase;
  border: none;
  font-size: 11px;
  height: 30px;
}
.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(80, 127, 225, 0.6);
}
.catalog-card__image {
  display: block;
}
.catalog__link {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
}
.catalog__link-more {
  display: inline-block;
  margin-bottom: 25px;
}
.catalog__description {
  display: block;
}

@media (max-width: 1199px) {
  .catalog-block {
    justify-content: center;
  }
  .catalog-card {
    max-width: 470px;
  }
}
.blog__heading {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.blog__title {
  font-size: 24px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.blog__link-more {
  color: #507fe1;
  font-size: 16px;
}
.blog-list {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-list__image {
  height: 200px;
  overflow: hidden;
}
.blog-list__text {
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}
.blog-list__card {
  margin-bottom: 20px;
}
.blog-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1199px) {
  .blog {
    justify-content: space-between;
  }
  .blog-card {
    margin-right: 30px;
    margin-left: 30px;
  }
}
.price-block {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price-block__card {
  margin-bottom: 10px;
}
.price-card {
  background-color: #fff;
  position: relative;
}
.price-card__pricetag {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.price-card__text {
  font-size: 15px;
  padding: 20px;
}
.price-card__cost {
  font-family: "Proxima Nova Semibold", sans-serif;
}
.price-card__button {
  text-align: center;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0 20px 20px 20px;
}
.price-card:hover .price-card__button {
  z-index: 99;
  bottom: -80px;
}

@media (max-width: 1199px) {
  .price-block {
    justify-content: center;
  }
  .price-block__card {
    margin: 20px;
  }
}
@media (max-width: 400px) {
  .price-block-card {
    margin: 10px;
  }
}
.step {
  text-align: center;
  position: relative;
}
.steps-block {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.step__tittle {
  margin: 20px 0;
  font-size: 18px;
}
.step__text {
  max-width: 160px;
  margin: 0 auto;
}
.step:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #7e7b78;
  display: block;
  position: absolute;
  top: 25%;
  right: -63%;
}
.step:last-child:before {
  display: none;
}

@media (max-width: 991px) {
  .step {
    width: 33%;
  }
  .step:before {
    display: none;
  }
}
@media (max-width: 600px) {
  .step {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */