* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  padding: 19px 22px 17px;
  color: #507fe1;
  background-color: #fff;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__phone {
  display: block;
  margin-bottom: 4px;
  font-size: 19px;
  text-decoration: none;
  color: #262626;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.navbar__work-time, .navbar__email {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #7b7b79;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  transition: 0.2s;
  transform: translateY(-100%);
}
.menu__active {
  transform: translateY(0);
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__link {
  text-decoration: none;
  font-style: 17px;
  text-transform: uppercase;
  color: #fff;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}
.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
.logo__discription {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

.hero {
  background: #f1f1f1 url("http://placehold.it/1920x690") no-repeat center top 80px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px;
}
.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}
.hero__suptitle {
  display: block;
  font-size: 30px;
  margin-bottom: 67px;
  font-family: "Proxima Nova Semibold", sans-serif;
}
/*# sourceMappingURL=style.css.map */