


body
  +light
  color: $text-color



img
  max-width: 100%



.section
  padding: 100px 0

  &-tittle
    font-size: 30px
    text-align: center
    text-transform: uppercase
    +bold

  &__tittle
    padding: 100px 0



.button-o
  border: 2px solid #507fe1
  text-transform: uppercase
  padding: 19px 22px 17px
  color: $text-color-primery
  background-color: #fff
  +bold



.button
  padding: 25px 45px
  text-transform: uppercase
  border: none
  background-color: $text-color-primery
  color: #ffffff
  text-decoration: none
  +bold

  &:hover
    cursor: pointer

  &-fitting
    color: $text-color-primery
    background-color: #fff

  &-add
    color: #fff
    background-color: $text-color-primery

  &-like
    background-color: $text-color-primery
    height: 30px


.bg-secondary
  background: $bg-secondary



.input
  height: 80px
  padding: 30px
  border: 1px solid #dddddd



.checkbox
  display: none

  &-label
    display: flex
    align-items: center
    margin-right: 40px
    &:hover
      cursor: pointer
    &:before
      content: ''
      width: 30px
      height: 30px
      border: 1px solid #dddddd
      margin-right: 20px

  &:checked + label:before
    background-color: $text-color-primery



//Andaptive
@media (max-width: 576px)
  .button
    font-size: 10px
    &-o
      font-size: 10px
  .section
    padding: 60px 0
    &-tittle
      font-size: 20px
