


body
  +light
  color: $text-color



.button-o
  border: 2px solid #507fe1
  text-transform: uppercase
  padding: 19px 22px 17px
  color: $text-color-primery
  background-color: #fff
  +bold



.button
  padding: 25px 45px
  text-transform: uppercase
  border: none
  background-color: $text-color-primery
  color: #ffffff
  +bold



//Andaptive
@media (max-width: 576px)
  .button-o
    font-size: 12px
