.hero
  background: #f1f1f1 url('http://placehold.it/1920x690') no-repeat center top 80px
  background-size: contain
  padding-top: 180px
  padding-bottom: 270px

  &__title
    font-size: 30px
    margin-bottom: 40px

  &__suptitle
    display: block
    font-size: 30px
    margin-bottom: 67px
    +bold
